streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
unsloth
jupyter
llama-index
llama-index-embeddings-huggingface
peft
auto-gptq
optimum
bitsandbytes
huggingface_hub
uuid
re
torch
